# Astro SDK with Snowflake (Snowpark) support
astro-sdk-python[snowflake]>=1.5

# Required Airflow providers
apache-airflow-providers-snowflake==5.5.1
apache-airflow-providers-amazon==8.24.0

# Pin Airflow version for consistency
apache-airflow==2.9.2